<div class="menu-mobile">
	<header>
		<img src="{{ site.url }}/img/vega-simbol.svg" alt="Vega Checkout">
		<strong>menu</strong>
		<button type="button" title="Fechar" class="close"></button>
	</header>

	<div class="menu">
      <a href="{{ site.url }}/#checkout" title="Checkout">Checkout</a>
      <a href="{{ site.url }}/#planos" title="Planos">Planos</a>
      <a href="{{ site.url }}/#contato" title="Contato">Contato</a>
    </div>
	
	<div class="sign-up">
      <strong>Entrar:</strong>
      <a href="{{ site.login }}" title="Acesso a plataforma beta">Login na plataforma nova</a>
      <a href="{{ site.legace }}" title="Acesso ao sistema legado">Login na plataforma antiga</a>

      <strong>Cadastre-se grátis:</strong>
      <a href="{{ site.signup }}" title="Cadastro na plataforma beta">Cadastre-se na plataforma nova</a>
      <a href="{{ site.signup_legace }}" title="Cadastro no sistema legado">Cadastre-se na plataforma antiga</a>
    </div>

    <ul class="social">
		<li><a class="facebook" 
			href="https://www.facebook.com/vegacheckout.com.br"
			title="Facebook Vega"
			target="_blank">
			Facebook Vega</a>
		</li>
		<li><a class="instagram" 
			href="https://www.instagram.com/vegacheckout/"
			title="Instagram Vega"
			target="_blank">
			Instagram Vega</a>
		</li>
		<li><a class="youtube" 
			href="https://www.youtube.com/@vegacheckout/videos"
			title="YouTube Vega"
			target="_blank">
			YouTube Vega</a>
		</li>
	</ul>

	<small>&copy; 2023 Vega Checkout | 34.109.335/0001-64</small>
</div>